<div class="separador-3">
  <div class="logo">
    <img src="/assets/images/logo_muni_sinfondo.png" alt="" />
  </div>
  <!--codigo catastral-->
  <div class="conteiner-Ccatastral">
    <div class="part-1">
      <div class="nom-catastral">1</div>
      <div class="titulo-catastral">codigo catastral</div>

      <div>DIST.</div>
      <div>SEC.</div>
      <div>MZ.</div>
      <div>LOTE</div>
      <div>EDF.</div>
      <div>ACCESO</div>
      <div>PISO</div>
      <div>DPT</div>
      <input
        class="squared"
        type="text"
        placeholder="go"
        pattern="[0-9]*"
        maxlength="2"
      />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="goa" maxlength="3" />
    </div>
  </div>
  <!--
    dato Ralar
  -->
  <div class="grid">
    <div>Dato Ralar</div>
    <DIV>dc</DIV>
    <input type="text" />
  </div>

  <!--
    lote
  -->
  <div class="lote"><input type="text" /></div>
</div>
