<div class="separador-3">
  <div class="mosaic">
    <div class="logo">
      <img src="/assets/images/logo_muni_sinfondo.png" alt="" />
    </div>

    <datalist>
      <option value="Chrome"></option>
      <option value="Firefox"></option>
      <option value="Internet Explorer"></option>
      <option value="Opera"></option>
      <option value="Safari"></option>
      <option value="Microsoft Edge"></option>
    </datalist>
    <h2 class="titulo">FICHA CATASTRAL INDIVIDUAL</h2>
    <div class="codigo-catastral">
      <div class="nom-catastral">1</div>
      <div class="titulo-catastral">codigo catastral</div>

      <div>DIST.</div>
      <div>SEC.</div>
      <div>MZ.</div>
      <div>LOTE</div>
      <div>EDF.</div>
      <div>ACCESO</div>
      <div>PISO</div>
      <div>DPT</div>
      <input
        class="squared"
        type="text"
        placeholder="go"
        pattern="[0-9]*"
        maxlength="2"
      />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="go" maxlength="2" />
      <input class="squared" type="text" placeholder="goa" maxlength="3" />
    </div>

    <div class="codigos">
      <div class="codigo-predial">
        <input type="text" placeholder="codigo predial" />
      </div>
      <div class="codigo-contribuyente">
        <input type="text" placeholder="codigo contribuyente" />
      </div>
    </div>
    <div class="raiar">
      <div>Dato Raiar</div>
      <DIV>dc</DIV>
      <input type="text" />
    </div>
    <div class="plano">
      <input type="text" placeholder="FOTO" /><input
        type="text"
        placeholder="PLANO"
      />
    </div>

    <div class="zonf">
      <input type="text" placeholder="ESTRUC" /><input
        type="text"
        placeholder="ZONIF"
      />
    </div>

    <div class="manz">
      <input type="text" placeholder="MANZ" /><input
        type="text"
        placeholder="LOTE"
      />

      <input type="text" placeholder="SUB-LOTE" />
    </div>
  </div>
  <!--codigo catastral-->
  <div class="conteiner-Ccatastral">
    <div class="part-1"></div>
  </div>

  <!--
    DATOS DElote
  -->
</div>
